<% @project = Project.new unless @project %>

<%= form_for @project do |f| %>

	<div style="display:inline-flex">
		<p>
			<div class="form-group">
				<%= f.text_field :title, class:"form-controll" %><br>
			</div>

			<% if @project.errors.any? %>
				<%= @project.errors.messages[:title][0] %>
			<% end %>
		</p>

		<%= f.hidden_field :user_id, :value => current_user.id %>
		
		<p>
			<%= f.submit "食材を追加", class:"btn btn-primary" %><br>
		</p>
	</div>

<% end %>