<h1>食材リスト</h1>

<%= search_form_for @search, :url => {:action => 'index', :class => 'project'} do |f| %>

	<ul style="list-style: none;">
	  <%# @user.projects.each do |project| %>
	    <li><%#= f.label :materials_name_cont %>
	    	<%= f.collection_check_boxes :materials_name_cont, @user.projects, :id, :title %><br>
	    	<%#= link_to "[Edit]", edit_project_path(project.id) %>
	    	<%#= link_to "[Delete]", project_path(project.id), method: :delete, data: {confirm: "are you sure?"} %>
	    </li>
	  <%# end %>
	</ul>

	<div class="action">
		<%= f.submit %>
	</div>
<% end %>

<p>
	<%= render 'form' %>
</p>

<h2>レシピを検索</h2>

	<%= search_form_for @search, :url => {:action => 'index', :class => 'project'} do |f| %>
		<div class="form-group">
			<%= f.label :materials_name_cont, "食材名" %>
			<%= f.search_field :materials_name_cont, class: "form-controll" %>
		</div>
		<div class="action">
			<%= f.submit %>
		</div>
	<% end %>

<h2>検索結果</h2>

	<% if @result.any? %>
		<% @result.each do |recipe| %>
			<p>レシピ名：<%= recipe.title %><br>
				食材：<% recipe.materials.each do |m| %>
					<%= m.name %>｜
				<% end %></p>
		<% end %>
	<% end %>

	<% if @result.nil? %>
		<p>検索結果がありません</p>
	<% end %>