<h1>食材リスト</h1>

<ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to project.title, project_path(project.id) %>
    	<%= link_to "[Edit]", edit_project_path(project.id) %>
    	<%= link_to "[Delete]", project_path(project.id), method: :delete, data: {confirm: "are you sure?"} %>
    </li>
  <% end %>
</ul>

<p>
<%= render 'form' %>
</p>

<!-- <p><%= link_to "Add New", new_project_path %></p> -->

<h1>調味料リスト</h1>
<ul>
	<% @foodstuffs.each do |foodstuff| %>
		<li><%= foodstuff.title %>
			<%= link_to "[Delete]", foodstuff_path(foodstuff.id), method: :delete, data: {confirm: "are you sure?"} %>
		</li>
	<% end %>

</ul>

<!--<p><%= link_to "Add New", new_foodstuff_path %></p>-->

<% @foodstuff = Foodstuff.new unless @foodstuff %>

<%= form_for @foodstuff do |f| %>
	<p>
		<%= f.text_field :title %><br>

		<% if @foodstuff.errors.any? %>
			<%= @foodstuff.errors.messages[:title][0] %>
		<% end %>
	</p>

		<%= f.hidden_field :user_id, :value => current_user.id %>

	<p>
		<%= f.submit "調味料を追加" %><br>
	</p>

<% end %>



<%= button_to "レシピを取得する", :action => "recipe" %>
