<div class="row">
	<div class="col-sm-4">
	<h2>食材リスト</h2>

	<%= render 'form' %>

	<% if params[:q].present? %>
		<%= search_form_for @search, :url => {:action => 'index', :class => 'project'} do |f| %>

			<div class="wrapper">
				<ul style="list-style: none;">
				   		<%= f.collection_check_boxes :materials_name_cont, @user.projects, :title, :title, include_hidden: false do |b| %>
						   	  <li>
					    		<%= b.check_box %>
					    		<%= b.label %>
					    		<%= link_to "削除", "projects/#{b.object.id}", method: :delete, data: {confirm: "are you sure?"}, class:"btn" %>
							  </li>
				  		<% end %>
				</ul>

			</div>

			<div class="action">
				<%= f.submit "チェックボックスからレシピを検索", class:"btn btn-primary"  %>
			</div>

		<% end %>
	<% else %>
		<%= search_form_for @search, :url => {:action => 'index', :class => 'project'} do |f| %>

			<div class="wrapper">
				<ul style="list-style: none;">
				   		<%= f.collection_check_boxes :materials_name_cont, @user.projects, :title, :title, include_hidden: true do |b| %>
						   	  <li>
					    		<%= b.check_box %>
					    		<%= b.label %>
					    		<%= link_to "削除", "projects/#{b.object.id}", method: :delete, data: {confirm: "are you sure?"}, class:"btn" %>
							  </li>
						<% end %>
				</ul>
			</div>


			<div class="action">
				<%= f.submit "チェックボックスからレシピを検索", class:"btn btn-primary"  %>
			</div>

		<% end %>
	<% end %>

	<% if current_user.id == 1 %>
		<%= link_to "レシピデータを更新する（実行に5分ほど時間がかかります！）", :action => "recipe", :controller => "projects" %>
	<% end %>

	</div>

	<div class="col-sm-8">
	<h2>今作れるレシピ</h2>
		<% if params[:q].present? %>
			<% @result.each do |recipe| %>
				<div class="wrapper">
					<p>レシピ名：<%= link_to recipe.title, recipe.url, :target => ["_blank"] %><br>
						食材：<% recipe.materials.each do |m| %>
							<%= m.name %>｜
						<% end %></p>
				</div>
			<% end %>
		<% else %>
			<p>検索結果がありません</p>
		<% end %>

	</div>
</div>