<h1>食材リスト</h1>

<ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to project.title, project_path(project.id) %>
    	<%= link_to "[Edit]", edit_project_path(project.id) %>
    	<%= link_to "[Delete]", project_path(project.id), method: :delete, data: {confirm: "are you sure?"} %>
    </li>
  <% end %>
</ul>

<p>
<%= render 'form' %>
</p>

<%= link_to "今の食材で作れるレシピを取得する" %>
