<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="title">Pantry Manager</h1><br>

<!-- deviseのログイン機能に関する記述 -->
      <div class="nav">
        <% if user_signed_in? %>
           こんにちは、<%= current_user.name %>さん｜
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>｜
            <%= link_to 'プロフィール変更', edit_user_registration_path %>｜
        <% else %>
            <%= link_to "新規登録", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
<!-- メインコンテンツ -->
    <%= yield %>
  </body>
</html>
